body {
  font-family: "Lexend Deca", sans-serif !important;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 8px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00aaff;
}

main {
  padding: 20px;
}

section {
  background: white;
  margin: 10px 0;
  padding: 130px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
  }

  header {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  nav {
    font-size: 14px;
    align-items: center;

  }

  section {
    padding: 15px;
  }

  body {
    padding: 10px;
  }
}